<!doctype html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
      <%- include('../partials/navbar.ejs') %>
      <div class="text-center mt-5">
          <div class="container">
              <h1 class="mb-5">Games List</h1>
              <div class="d-grid gap-2">
                  <a class="btn btn-success" href="/games/new">Add game</a>
                  <hr>
              </div>
              <div class="row">
                  <% if (games.length > 0) { %>
                      <% games.forEach((game) => { %>
                          <div class="col-xl-4 col-lg-3 mb-3">
                              <div class="card" style="width: 18rem;">
                                  <img src="/games_thumbnails/<%= game.thumbnailFileName %>" class="card-img-top" alt="Game thumbnail">
                                  <div class="card-body">
                                    <h5 class="card-title"><%= game.title %> | <%= game.category %></h5>
                                    <p class="card-text"><%= game.description %></p>
                                    <a href="/games/details/<%= game._id %>" class="btn btn-warning">Play</a>
                                  </div>
                              </div>
                          </div>
                      <% }) %>
                  <% } else { %>
                      <div class="col-xl-12 col-lg-12">
                          <p class="text-center">For the moment there are no games!</p>
                      </div>
                  <% } %>
              </div>
          </div>
      </div>
      <%- include('../partials/footer.ejs') %>
  </body>
</html>
