<!doctype html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
      <%- include('../partials/navbar.ejs') %>
      <div class="text-center mt-5">
          <div class="container">
              <h1 class="mb-5">Game Details</h1>
              <div class="card mb-3">
                  <img src="/games_images/<%= game.imageFileName %>" class="card-img-top" alt="Game Image">
                  <div class="card-body">
                    <h5 class="card-title"><%= game.title %></h5>
                    <p class="card-text"><%= game.description %></p>
                    <!-- <p class="card-text"><small class="text-muted"></small></p> -->
                  </div>
              </div>
          </div>
      </div>
      <%- include('../partials/footer.ejs') %>
  </body>
</html>
