<!doctype html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
      <%- include('../partials/navbar.ejs') %>
      <div class="text-center mt-5">
          <h3 class="mb-5">Update the Game!</h3>
          <div class="container">
              <form class="form-control" action="/games/update/<%= game._id %>" method="POST">
                  <div class="input-group mb-3">
                    <input type="text" name="title" class="form-control" value="<%= game.title %>">
                  </div>

                  <div class="input-group mb-3">
                    <input type="text" name="description" class="form-control" value="<%= game.description %>">
                  </div>

                  <div class="input-group mb-3">
                    <select name="category" class="form-select">
                        <% gameCategories.forEach((category) => { %>
                            <% if (category === game.category) { %>
                                <option selected value="<%= category %>"><%= category %></option>
                            <% } else { %>
                                <option value="<%= category %>"><%= category %></option>
                            <% } %>
                        <% }) %>
                    </select>
                  </div>
                  <div class="d-grid gap-2">
                      <button class="btn btn-success" type="submit">Update game</button>
                  </div>
              </form>
          </div>
      </div>
      <%- include('../partials/footer.ejs') %>
  </body>
</html>
